@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merge+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D&display=swap');

.contact{
    display: flex;
    align-items: center; 
    padding: 140px 100px 200px 120px;
    gap: 200px;
}

.text-container-contact {
    flex: 1; 
    text-align: left;
    max-width: 500px;
}

.image-container-contact {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-container-contact img {
    width: 100%; 
    max-width: 400px;
    height: auto;
}

.text-container-contact h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.text-container-contact h3{
    font-family: 'Cinzel', serif;
    font-size: 36px;
    margin: 15px 0;
}

.text-container-contact p{
    margin: 20px 0;
}