@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merge+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D&display=swap');

/* Algemene styling voor de footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Drie gelijke kolommen */
    gap: 20px;
    background-color: var(--main-colour); /* Achtergrondkleur van de footer */
    padding: 40px;
    align-items: start;
    text-align: center;
}

/* Linker sectie: Logo en slogan */
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;

}
.footer-left h8{
    font-size: 20px;
    color: var(--background-beige);
}

.footer-logo {
    max-width: 250px;
    margin-bottom: 20px;
}

.footer-slogan {
    font-size: 14px;
    color: var(--background-beige);
    margin-top: 10px;
}

/* Midden sectie: Social media iconen en tekst */
.footer-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-text {
    font-size: 16px;
    color: var(--background-beige);
    margin-bottom: 15px;
    max-width: 250px;
}

.social-icons {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.social-icons img {
    max-width: 30px;
    height: auto;
    transition: transform 0.3s ease;
}

.social-icons img:hover {
    transform: scale(1.2);
}

/* Navigatie onder de social media iconen */

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.footer-nav a {
    text-decoration: none;
    color: var(--background-beige);
    font-size: 20px;
    font-family: 'Merge-One', sans-serif;
    text-transform: uppercase;

}

.footer-nav a:hover {
    color: var(--call-to-action);
}

/* Rechter sectie: Instagram posts */
.footer-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Twee kolommen */
    gap: 10px; /* Ruimte tussen afbeeldingen */
}

.instagram-grid a img {
    width: 100%;
    max-width: 120px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.instagram-grid a img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
