@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merge+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D&display=swap');

footer {
    background-color: var(--background-grey);
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Verdeel in 3 kolommen */
    grid-template-rows: auto auto;
    gap: 20px;
    padding: 40px;
    align-items: start;
    text-align: center;
}

/* Logo en Quote */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    max-width: 200px; /* Maak het logo iets compacter */
    margin-bottom: 10px;
}

.logo-container h8 {
    font-size: 14px;
    color: var(--main-colour);
    margin-top: 10px;
}

/* Navigatie */
.footer-nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-nav li {
    margin: 10px 0;
}

.footer-nav a {
    text-decoration: none;
    color: var(--main-colour);
    font-family: 'Merge-one', sans-serif;
    font-size: 20px;
    transition: color 0.3s;
}

.footer-nav a:hover {
    color: brown;
}

/* Instagram posts */
.footer-instagram {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    flex-wrap: wrap; /* Zorg dat het goed werkt op kleinere schermen */
    gap: 15px; /* Ruimte tussen de afbeeldingen */
    padding: 10px 0;
}

.footer-instagram a img {
    max-width: 150px; /* Maak de Instagram posts kleiner */
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

.footer-instagram a img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Social Media Icons */
.icons {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.icons img {
    max-width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icons img:hover {
    transform: scale(1.2);
}
