.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--main-colour);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    transition: background-color 0.5s ease;
    z-index: 1;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0);
}

.logo-head{
    max-width: 185px;
    display: block;
  }

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px 115px;
    margin: 0;
    text-decoration: none;
    font-family: 'Merge One', sans-serif;
    color: white; 
    font-size: 18px;
    letter-spacing: 5px;
}

.nav-list li {
    display: flex; 
    align-items: center;
}


