.team{
    display: flex;
    align-items: center;
    padding: 0 120px 100px 120px;
    gap: 200px;
}


.text-container-team {
    flex: 1; 
    text-align: left;
    max-width: 500px;
}

.text-container-team p{
    padding: 15px 0;
}

.image-container-team {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-container-team img {
    width: 100%; 
    max-width: 600px;
    height: auto;
}

.quote{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}


.scroll-tray{
    white-space: nowrap;
}

.scroll-tray div{
    display: inline-block;

}

.scroll-tray img{
    border-radius: 0.3rem;
    margin: 7px 5px;
    padding: 0;
    height: 350px;

}

.scroll-holder{
    overflow-x: hidden;
}

.scroll-holder .scroll-tray:first-child{
    animation: scroll-tray-hero 180s linear infinite;
}

.scroll-holder .scroll-tray:last-child{
    animation: scroll-tray-hero 120s linear infinite;
}

@keyframes scroll-tray-hero{
    0% {
        transform: translateX(0)
    }
    99.99% {
        transform: translateX(-7098px);
    }
    100%{
        transform: translateX(0);
    }
}