@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merge+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D&display=swap');

.slider-wrapper {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-height: 650px;
}

.text-over {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    z-index: 10; 
    color: white;
    text-align: center;
    font-family: 'Cormorant', serif;
    font-size: 48px;
    font-weight: lighter;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    width: 50%;
}

.slider {
    display: flex;
    aspect-ratio: 20/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity ease 250ms;
}

.slider-nav a:hover {
    opacity: 1;
}

.slider-nav a.active {
    background-color: #ac7e00;
    opacity: 1;
}

::-webkit-scrollbar {
    display: none;
}

/* -----------------------------wedding/event---------------------- */

.slider-wrapper-wedding {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

.slider-wedding {
    display: flex;
    aspect-ratio: 3/4;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5rem;
}

.slider-wedding img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}