@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merge+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=K2D&display=swap');


main{
    padding-top: 105px;
}
h6{
    font-family: "Merge-one", sans-serif;
    font-size: 24px;
    margin: 0;
    color: var(--main-colour);
    font-weight: 400;
}

h4{
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
    color: var(--main-colour);
}

h2{
    font-family: "Cormorant", serif;
    font-weight: 500;
    font-size: 48px;
    margin: 0;
    color: var(--main-colour);
}
h3{
    font-family: "Cinzel", serif;
    font-size: 40px;
    font-weight: 200;
    color: var(--main-colour);
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
    font-size: 18px;
    margin: 0;
    color: var(--main-colour);
}


/* ---------------------------------------------------slideshow------------------------------------- */

/* ---------------------------------------------------video------------------------------------- */
.video{
    background-color: var(--background-beige);
    margin: 0;
}

video{
    display: flex;
    justify-content: center;
    z-index: -1;
    width: 750px;
}
/* ---------------------------------------------------meet the planner------------------------------------- */

.meet {
    display: flex;
    align-items: center; 
    padding: 140px 100px 200px 120px;
    gap: 200px;
}

.text-container-planner {
    flex: 1; 
    text-align: left;
    max-width: 500px;
}

.text-container-planner p{
    padding: 15px 0;
}

.image-container {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.image-container img {
    width: 100%; 
    max-width: 600px;
    height: auto;
}

.quote{
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
}

.ontdek{
    font-family: "Merge-one", sans-serif;
    font-size: 16px;
    border: 1px solid var(--main-colour);
    padding: 15px;
    margin-top: 10px;
    color: var(--main-colour);
    transition: all 0.3s ease;
    display: inline-block;
}

.ontdek:hover {
    background-color: var(--main-colour); /* Kleur de knop bij hover */
    color: white; /* Verander de tekstkleur naar wit */
    border-color: var(--main-colour);
}

/* ---------------------------------------------------wedding/event------------------------------------- */

.wedding-event{
    margin: 0;
}

/* ---------------------------------------------------portfolio------------------------------------- */
.portfolio{
    background-color: var(--background-beige);
    text-align: center;
}
.portfolio-header{
    padding-top: 100px;
}

.portfolio-header h3{
    margin-top: 15px;
}
.portfolio-items{
    display: flex;
    justify-content: center;
    gap: 170px;
    flex-wrap: wrap;
}

.portfolio-item{
    text-align: center;
}

.portfolio-item:nth-child(1) img,
.portfolio-item:nth-child(3) img {
    margin-top: 35px;
    width: 100%;
    height: auto;
}

.portfolio-item:nth-child(2) img{
    position: relative;
    padding: 14px;
    border: 1px solid var(--main-colour);
    width: 80%;
    height: auto;
}
.portfolio-item img {
    transition: transform 0.3s ease;
}

.portfolio-item img:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.portfolio-item h4{
    margin-top: 25px;
    margin-bottom: 130px;
}
/* ---------------------------------------------------loveletters------------------------------------- */

.reviews{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url(images/loveletters.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0;
    text-align: center;
}

.reviews-content{
    max-width: 950px;
    padding: 20px;
}


.reviews-content h6{
    font-family: "Cinzel", serif;
    font-size: 24px;
    font-weight: 400;
    color: white ;
    
}

.review{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    font-weight: 100;
    color: white;
    line-height: 1.2;
    padding: 70px 0;
}

.naam{
    font-size: 20px !important;
    color: white;
}